.image-size{
   
    width:100%;
    height: 100%;
}

.card-psize{
    height: 300px;
}

.size{
    width: 400px;
    margin-left: 900px;
}

.input-size{
    width: 40px;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}